body {
	margin: 0;
	padding: 0;
	font-family: "Muli"
}

.nav-bar {
	/*height: 60px;
	width: 100%;
	background: url("images/bkgd.png")
	background-repeat: repeat-x;
	background-color: #fbfaf9;*/
	background:url("images/bkgd.png") repeat-x top;
	height: 60px;
	width: 100%;
	position: fixed;
	z-index: 100;

}

.logo {
	background:url("images/logo.png") no-repeat 200 center; 
	min-height: 50px;
  padding-top: 8px;
}

.little-clock {
	background:url("images/clock.png") no-repeat center; 
	position: absolute;
	height: 20px;
	width: 20px;
	margin-left: 405px;
	margin-top: 17px;
	padding: 0;
}

.black-transparent-bar {
	height: 55px;
	width: 615px;
	/*background-color: white;*/
	margin: 0;
	margin-top: 30px;
	margin-left: 200;
	background:rgb(0,0,0); /*The Fallback Color*/
  background:rgba(0,0,0,0.5);
  position: absolute;
}

.black-bar-text {
	font-weight: 200;
	color: white;
	position: absolute;
}

.world-tour-text { /*any way to put this in html file instead?*/
	font-size: 22;
	margin-left: 17px;
	margin-top: 15px;
}

.mob-text {
	font-size: 12.9;
	margin-left: 432px;
	margin-top: 20px;
}

.mob-message-banner {
	background:url("images/mob-message-banner.png") no-repeat center;
	position: absolute;
	z-index: 2;
	height: 38px;
	width: 140px;
	margin-left: 200px;
	margin-top: 414px;
}


	
	


.top-text {
	font-weight: 900;
	color: white;
	/*min-height: 50px;
	padding-top: 8px;*/
	position: absolute;
	margin: 15px;
	margin-left: 275px;
}

.top-text-2 {
	font-weight: 500;
	color: white;
	/*min-height: 50px;
	padding-top: 8px;*/
	position: absolute;
	margin: 16px;
	margin-left: 415px;
}

.top-text-3 {
	font-weight: 500;
	color: white;
	/*min-height: 50px;
	padding-top: 8px;*/
	position: absolute;
	margin: 16px;
	margin-left: 550px;
}


.face {
	background:url("images/face.png") no-repeat 1035 center;
	position: top;
	min-height: 50px;
	padding-top: 8px;
	margin-right: 10px;
	margin-top: -56px;

	/*right: 100px;*/
}

.top-text-4 {
	font-family: "Muli", sans-serif;
	font-weight: 500;
	color: white;
	/*min-height: 50px;
	padding-top: 8px;*/
	position: absolute;
	margin-top: 20px;
	margin-left: 1100px;
}

.arrow {
	background:url("images/arrow.png") no-repeat 1175 center;
	position: top;
	min-height: 45px;
	padding-top: 8px;
	margin-right: 10px;
	margin-top: -55px;

}

.title-bar {
	height: 150px;
	width: 100%;
	background-color: white;
	box-shadow: 0 4px 6px -6px black;
	margin: 0;
}

.title-bar-text {
	font-size: 30;
	font-weight: 200;
	color: lightblack;
	position: absolute;
	margin-top: 84px;
	margin-left: 200;
}

.title-bar {

}

.grey-background {
	height: 85px;
	width: 620px;
	background-color: rgb(208,205,199);
	margin-left: 200px;
	position: absolute;
	margin-top: 430px;
}

.u2-description {
	font-size: 17;
	margin-left: 21px;
	margin-top: 25px;
	font-weight: 200;
	color: rgba(0,0,0,0.6);
	position: absolute;
	font-style: italic;
	font-style: bold;
	z-index: 2;
}

.second-arrow {
	background:url("images/second-arrow.png");
	height: 40px;
	width: 25px;
	position: absolute;
	z-index: 2;
	margin-left: 200px;
	margin-top: 495px;
}

.TOS {
	font-size: 12;
	margin-left: 225px;
	margin-top: 525px;
	position: absolute;
	color: rgb(120,120,120);
	width: 521px;
}


.below-white-box {
	font-size: 11;
	text-align: center;
	position: absolute;
	color: rgb(120,120,120);
	width: 266px;
	margin-left: 10px;
}

.boxy {
	width: 300px;
	height: 90px;
	position: absolute;
	margin-left: 669px;
	margin-top: 323px;
	background-color: #F2F0EC;
}

.new-hr {
	width: 100%;
	height: 0.5px; 
	border: 0; 
	background-color: rgb(177,177,177); 
	margin-top: 50px;
	margin-bottom: 17px;
}

.white-box-margins {
	margin-left: 90px;
	margin-top: 90px;
}

.big-picture {
	background:url("images/u2concert.jpg");
	position:absolute;
	height: 400px;
	width: 620px;
	margin-top: 30px;
	margin-left: 200px;
}

.big-picture-bar {
	height: 575px;
	width: 100%;
	background-color: #F2F0EC;
	box-shadow: 0 4px 6px -6px black;
	margin: 0;
}

.big-picture-little-bar {
	height: 64px;
	width: 621px;
}

.big-picture-bar-textbar {
	margin-top: 30px;
	margin-left: 300;
}

.big-picture-bar-text {
	margin-top: 30px;
	margin-left: 300;
}

.big-picture-bar-second-text {
	margin-top: 30px;
	margin-left: 600;
}

.transparent {
	background:#7f7f7f;
  background:rgba(0,0,0,0.5);
}

.fourth-bar {
	height: 610px;
	width: 100%;
	background-color: white;
	box-shadow: 0 4px 6px -6px black;
	margin: 0;
}

.last-bar {
	height: 341px;
	width: 100%;
	background-color: rgb(84,83,82);
	box-shadow: 0 4px 6px -6px black;
	margin: 0;
}








.grey-box {
	height: 118px;
	width: 139px;
	background-color: rgb(208,205,199);
	position: absolute;
	z-index: 3;
}

.darker-grey-box {
	height: 33px;
	width: 139px;
	background-color: rgb(182,174,162);
	position: absolute;
	z-index: 3;
}

.grey-box1-location {
	margin-left: 862px;
	margin-top: 30px;
}

.darker-grey-box1-location {
	margin-left: 862px;
	margin-top: 148px;
}

.grey-box2-location {
	margin-left: 1021px;
	margin-top: 30px;
}

.darker-grey-box2-location {
	margin-left: 1021px;
	margin-top: 148px;
}

.big-text {
	font-size: 70;
	position: absolute;
	color: rgb(255,255,255);
	margin-top: 20px;
}

.first-number {
	margin-left: 30px;
}

.second-number {
	margin-left: 10px;
}

.little-text {
	font-size: 14;
	position: absolute;
	color: rgb(65,65,65);
	text-align: center;
	margin-top: 9px;
}

.first-word {
	margin-left: 38px;
}

.second-word {
	margin-left: 5px;
}

.big-yellow-button-text {
	font-size: 20;
	position: absolute;
	color: white;
	text-align: center;
	margin-top: 15px;
	margin-left: 73px;
}

.ribbon-image {
	margin-left: 9px;
	margin-top: 14px;
}

.white-box-text-1 {
	font-size: 15;
	position: absolute;
	color: black;
	text-align: center;
	margin-top: 22px;
	margin-left: 3px;
	font-weight: 900;
}

.white-box-text-2 {
	font-size: 13;
	position: absolute;
	color: black;
	text-align: center;
	margin-top: 43px;
	margin-left: 3px;
	font-weight: normal;
}



	
/*.classname {
	-moz-box-shadow:inset 0px 1px 0px 0px #fceaca;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fceaca;
	box-shadow:inset 0px 1px 0px 0px #fceaca;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffed7a), color-stop(1, #eb7d41) );
	background:-moz-linear-gradient( center top, #ffed7a 5%, #eb7d41 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffed7a', endColorstr='#eb7d41');
	background-color:#ffed7a;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #eeb44f;
	display:inline-block;
	color:#ffffff;
	font-family: "Muli";
	font-size:20px;
	font-weight:bold;
	font-style:normal;
	height:61px;
	line-height:61px;
	width:300px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ce8e28;
	margin-left: 862px;
	margin-top: 201px;
}
.classname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #eb7d41), color-stop(1, #ffed7a) );
	background:-moz-linear-gradient( center top, #eb7d41 5%, #ffed7a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eb7d41', endColorstr='#ffed7a');
	background-color:#eb7d41;
}.classname:active {
	position:relative;
	top:1px;
}*/

.big-yellow-button {
	margin-left: 663px;
	margin-top: 173px;
	height: 60px;
	width: 298px;
	background:url("images/bkgd-button.png");
	box-shadow: 0 4px 6px -6px black;
	border-radius: 8px;
	z-index: 2;
	border:1px solid #eeb44f;
	position: absolute;
}

.white-box {
	position: absolute;
	-moz-box-shadow:inset 0px -5px 0px 0px #e8e8e8;
	-webkit-box-shadow:inset 0px -5px 0px 0px #e8e8e8;
	box-shadow:inset 0px -5px 0px 0px #e8e8e8;
	margin-left: 666px;
	margin-top: 225px;
	height: 84px;
	width: 290px;
	background-color: white;
	border-radius: 8px;
	z-index: 1;
	border:1px solid rgb(177,177,177);
}

.three-pictures-bar {
	position: absolute;
	margin-left: 238px;
	margin-top: 40px;
	height: 283;
	width: 942;
}

.image-2 {
	margin-left: 17px;
	height: 195px;
	width: 300px;
}

.three-pictures-text-1 {
	position: absolute;
	margin-top: 10px;
	height: 45px;
	width: 300px;
}

.three-pictures-text-2 {
	margin-left: 317px;
}

.three-pictures-text-3 {
	margin-left: 634px;
}

.bold-text-box {
	font-family: Arial;
	font-size: 14;
	font-weight: bolder;
	height: 35;
	width: 179;
}

/*.inside {
	width: 60px;
	margin: = 0 auto;
}*/