.body {

}

.nav-bar {
	/*height: 60px;
	width: 100%;
	background: url("images/bkgd.png")
	background-repeat: repeat-x;
	background-color: #fbfaf9;*/
	background:url("images/bkgd.png") repeat-x top;
	height: 60px;

}

.logo {
	background:url("images/logo.png") no-repeat 200 center; /*edit this image so that it is just vector with transparent background*/
	min-height: 50px;
  padding-top: 8px;
}

.top-text {
	color: blue;
	/*min-height: 50px;
	padding-top: 8px;*/
	position: absolute;
	margin: 7px;
	margin-left: 275px;
}

/*.inside {
	width: 60px;
	margin: = 0 auto;
}*/