body {
	margin: 0;
	padding: 0;
	font-family: "Muli"
}

.nav-bar {
	/*height: 60px;
	width: 100%;
	background: url("images/bkgd.png")
	background-repeat: repeat-x;
	background-color: #fbfaf9;*/
	background:url("images/bkgd.png") repeat-x top;
	height: 60px;

}

.logo {
	background:url("images/logo.png") no-repeat 200 center; 
	min-height: 50px;
  padding-top: 8px;
}

.little-clock {
	background:url("images/logo.png") no-repeat 2000 center; 
	min-height: -500px;
  padding-top: 8px;
  position: absolute;
}

.top-text {
	font-weight: 900;
	color: white;
	/*min-height: 50px;
	padding-top: 8px;*/
	position: absolute;
	margin: 15px;
	margin-left: 275px;
}

.top-text-2 {
	font-weight: 500;
	color: white;
	/*min-height: 50px;
	padding-top: 8px;*/
	position: absolute;
	margin: 16px;
	margin-left: 415px;
}

.top-text-3 {
	font-weight: 500;
	color: white;
	/*min-height: 50px;
	padding-top: 8px;*/
	position: absolute;
	margin: 16px;
	margin-left: 550px;
}


.face {
	background:url("images/face.png") no-repeat 1035 center;
	position: top;
	min-height: 50px;
	padding-top: 8px;
	margin-right: 10px;
	margin-top: -56px;

	/*right: 100px;*/
}

.top-text-4 {
	font-family: "Muli", sans-serif;
	font-weight: 500;
	color: white;
	/*min-height: 50px;
	padding-top: 8px;*/
	position: absolute;
	margin-top: 20px;
	margin-left: 1100px;
}

.arrow {
	background:url("images/arrow.png") no-repeat 1175 center;
	position: top;
	min-height: 45px;
	padding-top: 8px;
	margin-right: 10px;
	margin-top: -55px;

}

.title-bar {
	height: 90px;
	width: 100%;
	background-color: white;
	box-shadow: 0 4px 6px -6px black;
	margin: 0;
}

.title-bar-text {
	font-size: 30;
	font-weight: 200;
	color: lightblack;
	position: absolute;
	margin-top: 24px;
	margin-left: 200;
}

.title-bar {

}

.big-picture-bar {
	height: 575px;
	width: 100%;
	background-color: #F2F0EC;
	box-shadow: 0 4px 6px -6px black;
	margin: 0;
}

.big-picture-bar-textbar {
	margin-top: 30px;
	margin-left: 300;
}

.big-picture-bar-text {
	margin-top: 30px;
	margin-left: 300;
}

.big-picture-bar-second-text {
	margin-top: 30px;
	margin-left: 600;
}

.transparent {
	background:#7f7f7f;
  background:rgba(0,0,0,0.5);
}

.fourth-bar {
	height: 610px;
	width: 100%;
	background-color: white;
	box-shadow: 0 4px 6px -6px black;
	margin: 0;
}

.last-bar {
	height: 341px;
	width: 100%;
	background-color: rgb(84,83,82);
	box-shadow: 0 4px 6px -6px black;
	margin: 0;
}


/*.inside {
	width: 60px;
	margin: = 0 auto;
}*/